.banner {
    max-width: 100%;
    height: auto;
}

/* SIDEBAR*/

#sidebar.active {
    margin-left: -250px;    
    margin-top: auto;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 90.5vh;
    background: #e6dc91;
    color: #5a438c;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #F0EABA;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #7F6AAD;
}

#sidebar ul p {
    color: #5a438c;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #baadd6;
    background: #fff;
    color: #baadd6;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #5a438c;;
    background: #F0EABA;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #F0EABA;
}

/* NAVBAR */

.topnav {
    background-color: #7F6AAD;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:#f5f0ff;
    color: #7F6AAD;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
    float: right;
}

/*FOOTER*/
#footer {
    background-color: #7F6AAD;
    color: #f5f0ff;
}

.text-fotr-s {
    color: #b9afcf;
}

/*MAIN*/
.main {
    background-color: #FFFBE4; 
    width: auto;
    display: inline-block;
    padding-top: 10px;
}

.card {
    float: left;
    width: 297px;
}
.list-group-item {
    background-color: #e6dc91;
}

.card-img-top{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.card_img{
    position: relative;
    text-align: center;
    color: white;
    height: 250px;
}

.status_tag {
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 5px;
    background-color: #7F6AAD;
    padding-left: 10px;
    padding-right: 10px;
}

/*ADMIN PAGES*/

/*Table*/
.tableFixHead {
    overflow-y: auto;
    height: 80vh;
    background-color: #f9f4d1;
    border: 1.5px solid rgb(16, 16, 16);
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    background-color: #e6dc91;
}
table {

    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 8px 16px;
    border: 1px solid #ccc;
}

th {
    background: #eee;
}

td button{ 
    background-color: #7F6AAD;
    color: #fff;
    border: 0;
    margin-right: 10px;
}

.table_name{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}